body{
    background-color: black;
    color: white;
    text-align: center;
}
.Chap1{
    text-align: center;
}
.step{
    background-color: white;
    color: black;
    
    padding-top:10px ;
    padding-bottom: 10px;
    
}
.info{
    text-align: center;
}
#find{
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: large;
    
}
#search{
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: large;
}
